{% extends 'base.html' %}


{% block page_content %}
<!-- Page Heading -->
<div class="align-items-center  mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>
<div class="row">
    <div class="col mb-4">
        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Aplikasi Penjadwalan SMK Pariwisata Margarana Tabanan</h6>
            </div>
            <div class="card-body">
                <p class="mb-0">Aplikasi penjadwalan ini dibangun untuk memetakan mata pelajaran yang ada sesuai
                    kurikulum yang diterapkan di SMK Pariwisata Margarana Tabanan</p>
            </div>
        </div>

    </div>
</div>
{% endblock page_content %}