{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        {% include 'snippets/styles.html' %}
        {% block app_css %}
        {% endblock app_css %}
        <title>{{title_page}}</title>
        <title>Login</title>
    </head>

    <body>
        <div class="container-fluid d-flex justify-content-center mt-5">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <h5 class="card-header">Login</h5>
                        <div class="card-body">
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success</strong> {{message}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endfor %}
                            <form action='' method='POST'>
                                {% csrf_token %}
                                {{form.as_p}}
                                <button type="submit" value="Login" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'snippets/scripts.html' %}
    </body>

</html>