{% load static %}
{% load auth_extras %}
<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">

    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            <span class="mr-2 d-lg-inline text-gray-600 small">{{user.first_name}} {{user.last_name}}</span>
            <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}">
        </a>
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            {% if request.user|exclude_group:"siswa" %}
            <a class="dropdown-item" href="{% url 'users:profile' %}">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Profile
            </a>
            {% endif %}
            {% if request.user|has_group:"administrator" %}
            <a class="dropdown-item" href="{% url 'admin:index' %}">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Admin Site
            </a>
            {% endif %}
            <div class="dropdown-divider"></div>
            {% if user.is_authenticated %}
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>
            {% else %}
            <a class="dropdown-item" href="{% url 'login' %}">
                <i class="fas fa-sign-in-alt mr-2 text-gray-400"></i>
                Login
            </a>
            {% endif %}

        </div>
    </li>

</ul>